body {
  background-color: #F7F7F7 /* #C0EDFA  #DDECEF */;
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

strong{
	text-decoration: underline;
}

.sponsorImg{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

#smulogo{
	width: 75%;
  width: 100px;
}

.bg {
  background: url('../images/HackAWeek.jpg') no-repeat center center;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.top {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  text-fill-color: #fff;
  text-stroke-color: #000;
  text-stroke-width: 2px;
}

iframe.map {
  height: 300px;
  width: 100%;
}

.panel-heading h4 a{
  color: #fff;
}

.panel-heading h4 a:hover{
  color: #fff;
}

.jumbotron h1{
  color: white;
  text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.table {
  width: 100%;
}