body {
  padding-top: 30px; 
  background-color: #F7F7F7 /* #C0EDFA  #DDECEF */;
}

a {
	color: #156CD4;
	text-decoration: underline;
}

h2 {
  color: white;
}

a:hover{
	color: #0DA1FF;
}

strong{
	text-decoration: underline;
}

.sponsorImg{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

#smulogo{
	height:75px;
}

.jumbotron{
  background-color: #00843D;
}

.bg {
  background: url('../images/HackAWeek.png') no-repeat center center;
  width: 100%;
  height: 351px;
  top:0;
  left:0;
  z-index: -1;
}

.lead {
  font-size: 1em;
  font-weight: bold;
}

.top {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  text-fill-color: #fff;
  text-stroke-color: #000;
  text-stroke-width: 2px;
}

iframe.map {
  height: 300px;
  width: 100%;
}

.panel-heading h4 a{
  color: #fff;
}

.panel-heading h4 a:hover{
  color: #fff;
}